*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

body{
    width: 100vw;
    height:100vh;
    background: rgba(255, 174, 0, 0.8);
    background-image: url("Ramakrishna_Mission_Vidyamandira.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(2px);
}
.container{
    width: 300px;
    margin: 80px  50px 2rem;
    padding: 20px;
    font-weight: bold;
    border-radius:5px 5px 5px 5px;
    border-style: solid;
    text-align: center;
    background-color: rgba(242, 245, 241, 0.8);
}
