*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    font-size: 64px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    text-align: center;
}

section{
    width:100%;
    height: 100vh;
    align-items: center;
    display: grid;
    place-items: center;
    background-image: linear-gradient(rgba(62, 201, 146, 0.3),
    rgba(30, 194, 170, 0.3)),url("html.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    backdrop-filter: blur(8px);
}

.section-1{
    color:aqua;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    backdrop-filter: blur(2px);
    background-image: url("skill.jpg");
    backdrop-filter: blur(8px);
}
.section-2{
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("skill_india.webp");
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    
}
.section-3{
    color: rgb(16, 10, 11);
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.section-4{
    background-color: lightgreen;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image:url("gradie.jpg");
    background-attachment: fixed;
}
.section-5{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image:url("images.jpeg");
    
}

.section-6{
    color: aqua;
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image:url("gradie.jpg");
    background-attachment: fixed;
}
.section-7{
    font-weight: bold;
    color:black;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image:url("css.jpg");
}
.section-8{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image:url("images.jpeg");
}
.section-9{
    font-weight: bold;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("pho.jpeg");
    background-attachment: fixed;
}